In [11]:
# Dependencies
import openweathermapy.core as owm
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy as spy
import requests
import json
import pyowm

#import
from config import api_key
from citipy import citipy

In [12]:
cities_pd = pd.read_csv("worldcities.csv")
cities_pd.head()

  Country              City   Latitude  Longitude
0      ad  andorra la vella  42.500000   1.516667
1      ad           canillo  42.566667   1.600000
2      ad            encamp  42.533333   1.583333
3      ad        la massana  42.550000   1.516667
4      ad      les escaldes  42.500000   1.533333

In [13]:
# Randomly select **at least** 500 unique (non-repeat) cities based on latitude and longitude.
sample_cities_pd = cities_pd.sample(n=500)
sample_cities_pd.head()

      Country          City   Latitude  Longitude
7092       co       murindo   6.984806 -76.754394
26556      pa  siogui abajo   8.500000 -82.666667
379        am        tashir  41.124444  44.281944
13842      gr      lekhaina  37.933333  21.266667
40909      tz        katesh  -4.516667  35.383333

In [14]:
#Add columns for Temperature(F), Humidity (%), Cloudiness(%), Wind Speed(mph)
sample_cities_pd["Temperature"] = ""
sample_cities_pd["Humidity"] = ""
sample_cities_pd["Cloudiness"] = ""
sample_cities_pd["Wind Speed"] =""

sample_cities_pd.head()

,Country,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
7092,co,murindo,6.984806,-76.754394,,,,
26556,pa,siogui abajo,8.500000,-82.666667,,,,
379,am,tashir,41.124444,44.281944,,,,
13842,gr,lekhaina,37.933333,21.266667,,,,
40909,tz,katesh,-4.516667,35.383333,,,,

In [15]:
#url = "http://api.openweathermap.org/data/2.5/weather?"
#units = "imperial"
#sample_cities_pd

#set up lists to hold response data 
#temperature =[]
#humidity = [] 
#cloud = [] 
#wind = []

# loop through and make requests and parse
#for city in sample_cities_pd:
    #target_url = url + city
    #response = requests.get(target_url).json()
    #temperature.append(response['latitude']['longitude'])
    #humidity.append(response['latitude']['longitude'])
    #cloud.append(response['latitude']['longitude'])
    #wind.append(response['latitude']['longitude'])
    
#print()

In [17]:
url = "http://api.openweathermap.org/data/2.5/weather?"
sample_cities_pd = ("City", "Country")
sample_list = sample_cities_pd(get.weather(), w.get_temerature('fahrenheit'), w.get_clouds(), w.get_wind(), w.get_humidity())

for weather in sample_cities_pd:
    response = requests.get(url).json()
    print(weather.get_temperature('fahrenheit'), weather.get_clouds(), weather.get_wind(), weather.get_humidity(), 
      weather.get_wind())

NameError: name 'get' is not defined

In [ ]:
# Build a scatter plot for each data type
plt.scatter(XXX["lat"], XXX["temp"], marker="o")

# Incorporate the other graph properties
plt.title("Temperature in World Cities")
plt.ylabel("Temperature (F)")
plt.xlabel("Latitude")
plt.grid(True)

# Save the figure
plt.savefig("TemperatureInWorldCities.png")

# Show plot
plt.show()